<ng-template #error>
    <div class="block center">
        <p>{{s_error}}</p><br>
        <a *ngIf="b_my_profil" href="/" class="button">Créer mon premier post</a>
    </div>
</ng-template>
<section *ngIf="a_posts?.length > 0; else error" class="posts">
    <div class="row post" *ngFor="let o_post of a_posts">
        <div class="post__content">
            <div *ngIf="o_post.picture" class="col s6 post__picture" [style.background-image]="o_post.picture"></div>
            <div [ngClass]="{'s6': o_post.picture, 's12': !o_post.picture}" class="col post__info">
                <div class="post__profil">
                    <div class="post__profil__picture profil_picture" [style.background-image]="o_post.profil_picture"></div>
                    <p class="post__profil__name">{{o_post.username}} {{o_post.name}}</p>
                    <p class="post__date">{{o_post.date | date: 'dd/MM/yyyy à HH:mm'}}</p>
                </div>
                <p class="post__resume">
                    {{o_post.content}}
                </p>
                <ul class="post__tags">
                    <li class="post__tag tag" *ngFor="let s_tag of o_post.tags">{{s_tag}}</li>
                </ul>
            </div>
        </div>
        <div class="post__actions">
            <div class="post__action__comment">
                <form>
                    <textarea name="post_comment" placeholder="Écrire un commentaire"></textarea>
                    <button type="submit"><i class="fa fa-send-o"></i></button>
                </form>
            </div>
            <div class="post__action__like">
                <div [ngClass]="{'active': o_post.like}" class="button_like"></div>
            </div>
        </div>
    </div>
</section>
