@import "../../../assets/sass/vars";

.post:nth-of-type(odd){
    .post__picture {
        float: right;
    }
}

.post {
    border-top: 1px solid $light-grey;
    &:first-of-type {
        border-top: 0;
    }
}

.post__title {
    margin-top: 1rem;
    color: $primary-color;
}

.post__content {
    width: 100%;
    color: $deep-black;

    &.main_post {
        border-bottom: 1px solid $light-grey;
        border-top: 1px solid $light-grey;
    }
}

.post__info {
    padding: 1rem;
    position: relative;
}

.post__nb__message {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: $deep-grey;
}

.post__profil__picture {
    float: left;
    margin-right: 0.5rem;
}

.post__profil__name, .post__date {
    line-height: 20px;
}

.post__date {
    color: $grey;
    font-size: 0.8rem;
}

.post__resume {
    margin-top: 1rem;
}

.post__actions {
    height: 50px;
}

.post__action__comment {
    width: calc(100% - 60px);
    float: left;

    form {
        textarea {
            height: 50px;
            width: calc(100% - 30px);
            float: left;
            resize: none;
        }

        button {
            background: transparent;
            line-height: 48px;
            width: 30px;
            float: left;
            padding-top: 2px;
            color: $tertiary-color;
            cursor: pointer;

            &:hover {
                color: $primary-color;
            }
        }
    }
}

.post__action__like {
    width: 60px;
    float: left;
}

#error {
    padding: 1rem;
}


.post__action__comment {
    width : 100%;
    border-bottom: 1px solid $light-grey;

    form {
        textarea {
            width  : calc(100% - 50px);
            height : 50px;
            float  : left;
            resize : none;
        }

        button {
            width       : 50px;
            float       : left;
            padding-top : 2px;
            color       : $tertiary-color;
            background  : transparent;
            line-height : 48px;
            cursor      : pointer;

            &:hover {
                color : $primary-color;
            }
        }
    }
}


.post__comments__title {
    margin     : 0;
    padding    : 1rem;
    color      : white;
    background : $primary-color;
    text-align : center;
}

.post__comment {
    padding    : 1rem;
    border-bottom: 1px solid $light-grey;
}

.post__comment__picture {
    width        : 30px;
    height       : 30px;
    float        : left;
    margin-right : 0.5rem;
}

.post__comment__date,
.post__comment__name {
    line-height : 15px;
}

.post__comment__date {
    color     : $grey;
    font-size : 0.8rem;
}

.post__comment__content {
    margin-top : 1rem;
}
