<section *ngIf="o_user" class="profil">
    <div class="profil__information" [style.background-image]="s_user_background">
        <span *ngIf="!b_my_profil && !_friends.b_friend" class="profil__follow" (click)="_friends.addFriends(o_user.idUser)">{{_friends.s_add}}</span>
        <span *ngIf="!b_my_profil && _friends.b_friend" class="profil__follow" (click)="_friends.deleteFriends(o_user.idUser)">{{_friends.s_remove}}</span>
        <div class="profil__picture profil_picture" [style.background-image]="s_user_picture"></div>
        <p class="profil__name">
            {{o_user.username}} {{o_user.name}}
        </p>
        <p class="profil__tag tag">{{o_user.tag}}</p>
        <div class="row profil__stats">
            <div class="profil__friends col s6">
                <i class="fa fa-smile-o"></i> {{_friends.a_friends?.length}}
            </div>
            <div class="profil__like col s6">
                <i class="fa fa-heart-o"></i> {{i_like}}
            </div>
        </div>
    </div>
    <div class="profil__description">
        <p>{{o_user.description}}</p>
    </div>
</section>

<ul class="row tabs">
    <li [ngClass]="{'s4': b_my_profil, 's6': !b_my_profil}" class="tab col"><a href="#post" class="active">Posts</a></li>
    <li *ngIf="b_my_profil" class="tab col s4"><a href="#album">Album</a></li>
    <li [ngClass]="{'s4': b_my_profil, 's6': !b_my_profil}" class="tab col s4"><a href="#amis">Amis</a></li>
</ul>
<section id="post">
    <post></post>
</section>
<section *ngIf="b_my_profil" id="album">
    <album></album>
</section>
<div id="amis">
    <friends></friends>
</div>
