<section *ngIf="o_user" class="profil">
    <div class="profil__information" [style.background-image]="s_user_background">
        <button *ngIf="!b_my_profil" class="profil__follow" type="button" name="follow" (click)="_friends.addFriends(o_user.idUser)">{{_friends.add}}</button>
        <div class="profil__picture profil_picture" [style.background-image]="s_user_picture"></div>
        <p class="profil__name">
            {{o_user.username}} {{o_user.name}}
        </p>
        <p class="profil__tag tag">{{o_user.tag}}</p>
        <div class="row profil__stats">
            <div class="profil__friends col s6">
                <i class="fa fa-smile-o"></i> 65
            </div>
            <div class="profil__like col s6">
                <i class="fa fa-heart-o"></i> 147
            </div>
        </div>
    </div>
    <div class="profil__description">
        <p>{{o_user.description}}</p>
    </div>
</section>

<ul class="row tabs">
    <li class="tab col s4"><a href="#post" class="active">Posts</a></li>
    <li class="tab col s4"><a href="#like">Likes</a></li>
    <li class="tab col s4"><a href="#amis">Amis</a></li>
</ul>
<section id="post">
    <post></post>
</section>
<div id="amis">
    <friends></friends>
</div>
