@import "../../assets/sass/vars";

/deep/ main {
    padding-bottom: 0;
}

.login {
    min-height : 100vh;
    background : linear-gradient(
    to bottom,
    $primary-color 0%,
    darken($primary-color, 10%) 100%
    );
}

.login__logo {
    display : block;
    height  : calc(100vh - 281px);
    min-height: 300px;
    margin  : auto;
    padding : 2rem;
}

.login__form {
    width    : 100%;
    color    : white;

    form {
        padding  : 0 2rem 2rem;
    }
}

#login_email,
#login_password {
    color      : white;
    border     : 1px solid rgba(white, 0.4);
    background : rgba(white, 0.2);
}

.login__submit {
    margin-top : 2rem;
    box-shadow : $box-shadow;
}

.login__error {
    text-align : center;
}
