<section class="new">
	<div class="new__info row">
		<div class="new__info__cover col s6" style="background-image: url('./../assets/img/blog/news/1.jpg');"></div>
		<div class="new__info__content col s6">
			<div class="new__profil__picture profil_picture" style="background-image: url('./../assets/img/profil/1.jpg');"></div>
			<p class="new__profil__name">Will west</p>
			<p class="new__date">45/45/4/5</p>
			<h2 class="new__title">Une terrasse bohème parfumée</h2>
			<ul class="new__tags">
				<li class="new__tag tag">Terrasse</li>
				<li class="new__tag tag">Boho</li>
				<li class="new__tag tag">Fleurs</li>
			</ul>
			<div class="row">
				<div class="col s6 center">
					<i class="fa fa-eye"></i>
					vue
				</div>
				<div class="col s6 center">
					<i class="fa fa-heart-o"></i>
					like
				</div>
			</div>
		</div>
	</div>
</section>
