@import "../../assets/sass/vars";

.chat__profil {
    padding    : 0.5rem 1rem;
    background : $primary-color;
    border-bottom: 1px solid $light-grey;
}

.chat__profil__picture {
    float        : left;
    margin-right : 1rem;
}

.chat__profil__name {
    color       : white;
    line-height : 40px;
}

#chat__messages {
    padding : 1rem;
    height     : calc(100vh - 212px);
    overflow-y : auto;

    &::after {
        content : '';
        display : block;
        clear   : both;
    }
}

.chat__message {
    width         : 80%;
    float         : left;
    margin-bottom : 1rem;

    &:last-of-type {
        margin-bottom: 0;
    }

    .chat__message__content {
        position      : relative;
        margin-bottom : 5px;
        padding       : 1rem;
        color         : white;
        background    : $primary-color;
    }

    &.friend--message {
        float : right;

        .chat__message__content {
            color      : $black;
            background : white;
        }
    }
}

.chat__message__date {
    float     : right;
    color     : $deep-grey;
    font-size : 0.8rem;
}

.chat__form {
    border-top : 1px solid $light-grey;
    background: white;

    &::after {
        content : '';
        display : block;
        clear   : both;
    }
}

.chat__form__message {
    width  : calc(100% - 50px);
    height : 50px;
    float  : left;
    resize : none;
}

.chat__form__submit {
    width       : 50px;
    float       : left;
    color       : #b8dfd0;
    background  : transparent;
    line-height : 50px;
    cursor      : pointer;

    &:hover {
        color : $primary-color;
    }
}

.chat__title {
    color: white;
    padding    : 0.5rem 1rem;
    background : $primary-color;
    text-transform: uppercase;
}

.chat__item {
    background: white;
    margin-top: 1rem;
    padding: 1rem;
    position: relative;
    display: block;
}

.chat__item__picture {
    float: left;
    margin-right: 1rem;
}

.chat__item__name, .chat__item__content {
    line-height: 20px;
    color: $black;
}

.chat__item__content {
    color: $deep-grey;
}

.chat__item__date {
    color: $grey;
    font-size: 0.8rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
}
