<header *ngIf="b_is_logged">
    <i class="header__nav fa fa-bars" aria-hidden="true" (click)="show_nav()"></i>
    <a href="/"><img src="./assets/img/commun/logo.svg" class="header__logo" alt="logo de Jaden By U"></a>
    <a class="header__profil profil_picture" href="/profil" [style.background-image]="s_user_picture"></a>
</header>

<router-outlet></router-outlet>

<nav *ngIf="b_is_logged" class="nav">
    <ul class="row nav__items">
        <li class="col s3 nav__item">
            <a href="/">
                <i class="fa fa-home"></i><br>
                <span>Accueil</span>
            </a>
        </li>
        <li class="col s3 nav__item">
            <a href="/search">
                <i class="fa fa-search"></i><br>
                <span>Chercher</span>
            </a>
        </li>
        <li class="col s3 nav__item">
            <a href="/profil">
                <i class="fa fa-smile-o"></i><br>
                <span>profil</span>
            </a>
        </li>
        <li class="col s3 nav__item">
            <a href="/chat">
                <i class="fa fa-comments-o"></i><br>
                <span>Chat</span>
            </a>
        </li>
    </ul>
</nav>

<nav *ngIf="b_is_logged" id="mobile_nav">
    <ul class="nav_mobile__items">
        <div class="nav_mobile__profil center">
            <div class="nav_mobile__profil__action">
                <i class="fa fa-long-arrow-left nav_mobile__profil__hide" (click)="hide_nav()"></i>
                <p class="nav_mobile__profil__logout" (click)="logout()">Déconnexion</p>
            </div>
            <a class="nav_mobile__profil__picture profil_picture" href="/profil" [style.background-image]="s_user_picture"></a>
            <p class="nav_mobile__profil__name">{{_global.o_user.username}} {{_global.o_user.name}}</p>
            <p class="nav_mobile__profil__email">{{_global.o_user.email}}</p>
        </div>
        <li><a href="/forum">Forum</a></li>
        <li><a href="/news">Blog</a></li>
        <li><a href="">Paramètres</a></li>
        <li><a href="">Aide</a></li>
    </ul>
</nav>
