body {
	display         : flex;
	min-height      : 100vh;
	background      : $black;
	align-items     : center;
	justify-content : center;
}

main {
	width          : 100%;
	max-width      : 450px;
	min-height     : 100vh;
	background     : white;
	padding-bottom : 55px;
}

input:-webkit-autofill {
	-webkit-box-shadow : 0 0 0 30px white inset;
}

.tab a {
	color      : white !important;
	background : $tertiary-color;

	&.active,
	&:hover {
		background : $primary-color !important;
	}
}

.indicator {
	background : $primary-color !important;
}

.profil_picture {
	width               : 40px;
	height              : 40px;
	border-radius       : 50%;
	background-position : center;
	background-size     : 100%;
}

.tag {
	display        : inline-block;
	margin-right   : 0.5rem;
	color          : $primary-color;
	text-transform : uppercase;
	font-size      : 0.8rem;

	&::before {
		content : '#';
	}
}

.block {
	padding: 2rem 1rem;
}

.block--news {
	padding: 2rem !important;
}

.block--flex {
	display: flex;
}

.block--color {
	background: lighten($primary-color, 35%);
}

.block__border {
	position: relative;
	padding: 2rem;

	&::before {
		content: '';
		position: absolute;
		width: 30px;
		height: 30px;
		left: 0;
		top: 0;
		border-left: 3px solid $primary-color;
		border-top: 3px solid $primary-color;
	}

	&::after {
		content: '';
		position: absolute;
		width: 30px;
		height: 30px;
		right: 0;
		bottom: 0;
		border-right: 3px solid $primary-color;
		border-bottom: 3px solid $primary-color;
	}
}

.image--news {
	width: 100%;
	display: block;
}

.cover--news {
	background-position: center;
    background-size: cover;
}

.center {
	text-align: center;
}

.truncate {
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
