.loader,
.loader__figure {
	position  : absolute;
	top       : 50%;
	left      : 50%;
	transform : translate(-50%, -50%);
}

.loader {
	width       : 4rem;
	height      : 0;
	padding-top : 4rem;
	overflow    : visible;
}

.loader__figure {
	box-sizing    : border-box;
	width         : 0;
	height        : 0;
	border        : 0 solid $primary-color;
	border-radius : 50%;
	animation     : loader-figure 1.15s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}

.loader__label {
	float          : left;
	margin         : 1rem 0 0 50%;
	margin-left    : 50%;
	color          : $primary-color;
	font-size      : 0.8rem;
	white-space    : nowrap;
	animation      : loader-label 1.15s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
	transform      : translateX(-50%);
	text-transform: uppercase;
	letter-spacing: 1px;
}

@keyframes loader-figure {
	0% {
		width            : 0;
		height           : 0;
		background-color : $primary-color;
	}

	29% {
		background-color : $primary-color;
	}

	30% {
		width            : 4rem;
		height           : 4rem;
		opacity          : 1;
		border-width     : 1em;
		background-color : transparent;
	}

	100% {
		width            : 4rem;
		height           : 4rem;
		opacity          : 0;
		border-width     : 0;
		background-color : transparent;
	}
}

@keyframes loader-label {
	0% {
		opacity : 0.25;
	}

	30% {
		opacity : 1;
	}

	100% {
		opacity : 0.25;
	}
}
