@import "vars";

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 14px;
	vertical-align: baseline;
	box-sizing: border-box;
	font-family: 'Open Sans', helvetica, arial, sans-serif;
	text-decoration: none;
	outline: none;
	list-style: none;
	font-weight: 300;
	outline-color: $primary-color;
}

.row {
	margin-bottom: 0 !important;
}
